/* Estilos predeterminados REACT */

.App {
  text-align: center;
  padding: 3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ESTILOS PROPIOS */


body{
  background-color: rgba(30, 39, 46,1.0);
}

.contenedor{
  padding: 3%;
}

.color{
  color: #C4E538;
}

.contenedorContador{
  padding: auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}

.botonContador{
  padding: auto;
  margin: auto;
  background-color: beige;
}